$bg-color: linear-gradient(90deg, #fffba7b6, #fbaa08bd);
$text-color: #0d0d0d;
$font: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
$size: 0;

body {
    background: $bg-color;
    color: $text-color;
    background-color: $bg-color;
    margin: $size;
    color: $text-color;
    font-family: $font, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: left;
    text-indent: 2em;
}
