.robots-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    margin-block: 2rem;
    justify-content: center;
}

p {
    text-align: center;
    text-indent: 2.9em;
}

.robots-list li {
    background: linear-gradient(to right, #ffffff 0%, #ff6f001d 100%);
    width: 250px;
    height: 360px;
    padding: 5px;
    overflow: visible;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    border-width: 2.5px;
    border-style: solid;
    border-color: rgb(251, 139, 73);

    -webkit-transition: background-color 1s linear;
    transition: background-color 1s linear;
    &:hover {
        background-color: #00eeff;
        transform: scale(1.03);
    }
}
