$bg-color: linear-gradient(90deg, #faf36e, #fba608);
$text-color: #0d0d0d;

footer {
    background: $bg-color;
    color: $text-color;
    padding-block: 1rem;
    text-align: center;

    bottom: 0;
    width: 100%;
}
