.btn {
    padding: 0.8rem;
    background-color: rgb(255, 123, 0);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    font-size: 1rem;
    color: beige;
    border: none;
    border-radius: 0.8rem;
    width: 100px;

    cursor: pointer;
    &:hover {
        background-color: rgb(255, 0, 38);
    }
}
p {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    font-size: 1.1rem;
    margin-right: 2rem;
}
